<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About PDX Swifts</h2>
  <p>
    This site was created as a quick reference for Portlanders to know what time to get to Chapman Elementary School to see Vaux's Swifts put on their majestic bedtime ritual. Thousands of swifts pack into the smokestack at Chapman Elementary School to roost each night while the birds are migrating though Portland each September. The swifts slowly gather over the school about an hour before sunset, then just as dusk sets in ...... the birds begin to funnel into the smokestack as a chaotic, living tornado.
  </p>
  <p>
    If you're more curious about factors that influence Vaux's Swifts migration numbers and patterns, check out the
    {{#link-to 'data' class="button"}}
      data page.
    {{/link-to}}
  </p>
</div>

{{outlet}}
