<div class="container">
  <div class="menu site-menu">
    {{#zf-dropdown-menu}}
      <li>
        {{#link-to 'countdown'}}
          <i class="material-icons md-36 md-light">menu</i>
        {{/link-to}}
        <ul class="menu site-menu">
          <li>
            {{#link-to 'about'}} ABOUT {{/link-to}}
          </li>
          <li>
            {{#link-to 'data'}} DATA {{/link-to}}
          </li>
          <li>
            {{#link-to 'contact'}} CONTACT {{/link-to}}
          </li>
        </ul>
      </li>
    {{/zf-dropdown-menu}}

    {{#link-to 'index'}}
      <h1 id="site-name"> PDX SWIFTS </h1>
    {{/link-to}}
  </div>

  <div class="body">
    {{outlet}}
  </div>
</div>
