<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact</h2>
  <p> Site created by Jeannie Hunnicutt</p>
  <p>
    Data used for visualizations kindly provided by Larry Schwitters : 
    {{#each model as |link|}}
      <a target="_blank" href="{{unbound link.schwitters}}"> Vaux's Happening </a>
    {{/each}}
  </p>

</div>
