<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact</h2>
  <p> Site created by Jeannie Hunnicutt</p>
  <p>
    Data used for visualizations kindly provided by
    <a target="_blank" href="{{unbound view.targetUrl}}"> Larry Schwitters </a>
  </p>
</div>
